version: '3.8'

services:
  alhamdulillah-backend:
    container_name: alhamdulillah_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=5000
    restart: unless-stopped
    networks:
      - alhamdulillah-network

networks:
  alhamdulillah-network:
    driver: bridge
